dependency-reduced-pom.xml
.classpath
.project
.settings
.vscode
notsrc
target

src/main/resources/img/cards/*.png
src/main/resources/img/relics/*.png
src/main/resources/img/powers/32
src/main/resources/img/powers/64

