dependency-reduced-pom.xml
.classpath
.factorypath
.project
.settings
.vscode
notsrc
target

src/main/resources/img/cards/*.png
src/main/resources/img/cards/large/old
src/main/resources/img/relics/*.png
src/main/resources/img/relics/outline
src/main/resources/img/powers/32
src/main/resources/img/powers/64
src/main/resources/img/powers/large/old
src/main/resources/img/cardui/1024
src/main/resources/img/cardui/512
src/main/resources/img/cardui/images
src/main/resources/img/cardui/small_bronze_orb.png
src/main/resources/img/cardui/small_mad_science_orb.png
src/main/resources/img/characters/MadScientist/orb/*d.png

