dependency-reduced-pom.xml
.classpath
.factorypath
.project
.settings
.vscode
notsrc
target

src/main/resources/madsciencemod/images/cards/*.png
src/main/resources/madsciencemod/images/cards/large/old
src/main/resources/madsciencemod/images/relics/*.png
src/main/resources/madsciencemod/images/relics/outline
src/main/resources/madsciencemod/images/relics/large
src/main/resources/madsciencemod/images/powers/32
src/main/resources/madsciencemod/images/powers/64
src/main/resources/madsciencemod/images/powers/large/old
src/main/resources/madsciencemod/images/powers/images
src/main/resources/madsciencemod/images/powers/*.atlas
src/main/resources/madsciencemod/images/powers/powers.png
src/main/resources/madsciencemod/images/cardui/1024
src/main/resources/madsciencemod/images/cardui/512
src/main/resources/madsciencemod/images/cardui/images
src/main/resources/madsciencemod/images/cardui/small_bronze_orb.png
src/main/resources/madsciencemod/images/cardui/small_mad_science_orb.png
src/main/resources/madsciencemod/images/characters/MadScientist/orb/*d.png

